<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profile</title>
  {% include "story/head.html" %}
</head>
<body>
  <div id="header-wrapper">
    {% include "story/navbar.html" %}
  </div>

  <h1>Profile</h1>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <p>Name: {{ group.name }}</p>

  {% if users %}
  <p>Members:
  <ul class="members">
    {% for user in users %}
    <li><a href="{% url 'story:profile' user.user_id %}">
      {{ user.name }}
    </a></li>
    {% endfor %}
  </ul>
  </p>
  {% else %}
  <p>This group has no members.</p>
  {% endif %}


  {% ifequal userprofile.user_id user.id %}
  <p><a href="{% url 'story:register_group' %}">Register new group</p>
  <p><a href="{% url 'story:update_profile' %}">Update profile</p>
  {% endifequal %}

</body>

</html>
