<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profile</title>
  {% include "story/head.html" %}
</head>
<body>
  <div id="header-wrapper">
    {% include "story/navbar.html" %}
  </div>

  <h1>Group Profile</h1>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <p>Group Name: {{ group.name }}</p>

  {% if users %}
  <p>Members:
  <ul class="members">
    {% for user in users %}
    <li><a href="{% url 'story:profile' user.id %}">
      {% if user.userprofile %}
        {{ user.userprofile.name }}
      {% else %}
        User {{ user.id }}
      {% endif %}
    </a></li>
    {% endfor %}
  </ul>
  </p>
  {% else %}
  <p>This group has no members.</p>
  {% endif %}

  <p><a href="{% url 'story:add_to_group' group.id %}">Add new members</p>

</body>

</html>
