<div id="header" class="container">
  <div id="logo"><h1><a href="/">Yarns</a></h1></div>
    <nav id="nav">
        <ul>
            <li class="current_page_item"><a href="/">Homepage</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'login' %}">{{ user.username }}</a></li>
            <li><a href="{% url 'story:upload_post' %}">New Post</a></li>
            <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            <li><a href="{% url 'story:register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>
  </div>
