<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Post</title>
  {% include "story/head.html" %}
</head>
<body>
  <div id="header-wrapper">
    {% include "story/navbar.html" %}
  </div>

  <h1>Post</h1>
  <p>
    Posted by: <a href="/profile/{{profile.user_id}}">
      {{ post.poster.userprofile.name }}</a>
  </p>
  <p>at {{post.date_posted}} </p>
  <p>Knower: {{post.knower.name}}</p>

  {% if error_message %}<p><strong>{{error_message}}</p></strong> {% endif %}

</body>
  <p> {{post.description}} </p>
</html>

{% ifequal post.owner user %}
<a href="{% url 'story:edit_post' post.id %}">
  Edit post
</a>
{% endifequal %}
