<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profile</title>
  {% include "story/head.html" %}
</head>
<body>
  <div id="header-wrapper">
    {% include "story/navbar.html" %}
  </div>

  <h1>Profile</h1>

  {% if error_message %}<p><strong>{{error_message}}</p></strong> {% endif %}

  <p>Name: {{ userprofile.name }}</p>
  <p>DOB: {{ userprofile.dob }} </p>
  <p>Gender: {{ userprofile.gender }}</p>
  <p>Joined on {{ userprofile.date_joined }} </p>

  <p><a href="{% url 'story:update_profile' %}"">Update profile</p>

</body>

</html>
