<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Profile</title>
  {% include "story/head.html" %}
</head>
<body>
  <div id="header-wrapper">
    {% include "story/navbar.html" %}
  </div>

  <h1>Profile</h1>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if userprofile %}
  <p>Name: {{ userprofile.name }}</p>
  <p>DOB: {{ userprofile.dob }} </p>
  <p>Gender: {{ userprofile.gender }}</p>
  <p>Joined on {{ userprofile.date_joined }} </p>

    {% if groups %}
    <p>Groups:
    <ul class="groups">
      {% for group in groups %}
      <li>{{ group }}</li>
      {% endfor %}
    </ul>
    </p>
    {% endif %}

  {% endif %}

  {% ifequal userprofile.user_id user.id %}
  <p><a href="{% url 'story:register_group' %}">Register new group</p>
  <p><a href="{% url 'story:update_profile' %}">Update profile</p>
  {% endifequal %}

</body>

</html>
