<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create Profile</title>
  {% include "story/head.html" %}
</head>
<body>
  <div id="header-wrapper">
    {% include "story/navbar.html" %}
  </div>

  <h1>Upload a post</h1>

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <form method="post" action="{% url 'story:update_profile' %}">
    {% csrf_token %}

    {% if form.errors %}
    <p>There's some errors in the form!</p>
    {% endif %}

    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>

</body>
</html>
