<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Login</title>
  {% include "story/head.html" %}
</head>
<body>
  <div id="header-wrapper">
    {% include "story/navbar.html" %}
  </div>

  <h1>Login</h1>

  {% if next %}
  <p>You can't access this page.</p>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
    {% if form.errors %}
    <p>There's some errors in the form!</p>
    {% endif %}
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" = value="login">
    <input type="hidden" name="next" value="{{ next }}">
  </form>

</body>
</html>
